{{#if github.context.commits}}
<p><strong>{{ctrf.summary.passed}} passed</strong>, <strong>{{ctrf.summary.failed}} failed</strong>, and <strong>{{add ctrf.summary.skipped ctrf.summary.pending ctrf.summary.other}} other</strong></p>

| Timestamp | **Hash** | **Author** | Message |
| --- | --- | --- | --- |
{{#each (reverseArray github.context.commits)}}
| {{convertTimestamp timestamp}} | [{{sliceString id 0 7}}]({{url}}) | @{{committer.username}} | {{message}} |
{{/each}}

[Compare before {{sliceString github.context.before 0 7}} and after {{sliceString github.context.after 0 7}}]({{github.context.compare}})
{{else}}
<p>No commits in context for event type {{github.eventName}}</p>
{{/if}}
