{{#if (gt ctrf.summary.failed 0)}}
<table>
    <thead>
      <tr>
        <th>Failed Tests {{getCtrfEmoji "failed"}}</th>
        <th>Fail Message</th>
      </tr>
    </thead>
    <tbody>
      {{#each ctrf.tests}}
        {{#if (eq status "failed")}}
        <tr>
          <td>{{getCtrfEmoji "failed"}} {{name}}</td>
          <td>{{#if message}}{{~{formatTestMessage message}}}{{else}}No failure message{{/if}}</td>
        </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
{{else}}
<p>No failed tests in this run ✨</p>
{{/if}}


