<p><strong>{{ctrf.summary.passed}} passed</strong>, <strong>{{ctrf.summary.failed}} failed</strong>, and <strong>{{add ctrf.summary.skipped ctrf.summary.pending ctrf.summary.other}} skipped</strong> in <strong>{{formatDuration ctrf.summary.start ctrf.summary.stop}}</strong> across <strong>{{ctrf.extra.files.length}} files</strong></p>
<table>
  <thead>
    <tr>
      <th>File Path</th>
      <th>Passed</th>
      <th>Failed</th>
      <th>Flaky</th>
      <th>Skipped</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
{{#each ctrf.extra.files}}
    <tr>
      <td>
        <details>
          <summary>
            {{#if this.results.extra.groupKey}}
            <a href="{{#if ../github.repository.htmlUrl}}{{../github.repository.htmlUrl}}/blob/{{#if ../github.context.pull_request.head.sha}}{{../github.context.pull_request.head.sha}}{{else}}{{#if ../ctrf.environment.branchName}}{{../ctrf.environment.branchName}}{{else}}{{../github.context.ref}}{{/if}}{{/if}}/{{this.results.extra.groupKey}}{{else}}#{{/if}}">{{getCtrfEmoji this.results.summary.extra.result}} {{this.results.extra.groupKey}}</a>
            {{else}}
            {{getCtrfEmoji this.results.summary.extra.result}} ungrouped
            {{/if}}
          </summary>
          {{#each this.results.tests}}
          <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{getCtrfEmoji this.status}} {{#if this.line}}<a href="{{#if ../../github.repository.htmlUrl}}{{../../github.repository.htmlUrl}}/blob/{{#if ../../github.context.pull_request.head.sha}}{{../../github.context.pull_request.head.sha}}{{else}}{{#if ../../ctrf.environment.branchName}}{{../../ctrf.environment.branchName}}{{else}}{{../../github.context.ref}}{{/if}}{{/if}}/{{../results.extra.groupKey}}#L{{this.line}}{{else}}#{{/if}}">{{this.name}}</a>{{else}}{{this.name}}{{/if}}{{#if this.flaky}} {{getCtrfEmoji "flaky"}}{{/if}} <em>({{formatDurationMs this.duration}})</em></div>
          {{/each}}
        </details>
      </td>
      <td>{{#if this.results.summary.passed}}{{getCtrfEmoji "passed"}} {{this.results.summary.passed}}{{/if}}</td>
      <td>{{#if this.results.summary.failed}}{{getCtrfEmoji "failed"}} {{this.results.summary.failed}}{{/if}}</td>
      <td>{{#if (countFlaky this.results.tests)}}{{getCtrfEmoji "flaky"}} {{countFlaky this.results.tests}}{{/if}}</td>
      <td>{{#if (add this.results.summary.skipped this.results.summary.pending this.results.summary.other)}}{{getCtrfEmoji "skipped"}} {{add this.results.summary.skipped this.results.summary.pending this.results.summary.other}}{{/if}}</td>
      <td>{{formatDuration 0 this.results.summary.extra.duration}}</td>
    </tr>
    {{/each}}
  </tbody>
</table> 