<p><strong>{{ctrf.summary.passed}} passed</strong>, <strong>{{ctrf.summary.failed}} failed</strong>, and <strong>{{add ctrf.summary.skipped ctrf.summary.pending ctrf.summary.other}} other</strong></p>

| **Hash** | **Author** | Message |
| --- | --- | --- |
{{#each github.context.commits}}
| [{{slice id 0 7}}]({{url}}) | @{{committer.username}} | {{message}} |
{{/each}}

[Compare before {{slice github.context.before 0 7}} and after {{ slice github.context.after 0 7}}]({{github.context.compare}})