<p><strong>{{ctrf.summary.passed}} passed</strong>, <strong>{{ctrf.summary.failed}} failed</strong>, and <strong>{{add ctrf.summary.skipped ctrf.summary.pending ctrf.summary.other}} other</strong></p>
<table>
  <thead>
    <tr>
      <th>Suite</th>
      <th>Passed</th>
      <th>Failed</th>
      <th>Other</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
{{#each ctrf.extra.suites}}
    <tr>
      <td>
        <details>
          <summary>{{getCtrfEmoji this.results.summary.extra.result}} {{this.results.extra.groupKey}}</summary>
          {{#each this.results.tests}}
          <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{getCtrfEmoji this.status}} {{this.name}}</div>
          {{/each}}
        </details>
      </td>
      <td>{{getCtrfEmoji "passed"}} {{this.results.summary.passed}}</td>
      <td>{{getCtrfEmoji "failed"}} {{this.results.summary.failed}}</td>
      <td>{{getCtrfEmoji "skipped"}} {{add this.results.summary.skipped this.results.summary.pending this.results.summary.other}}</td>
      <td>{{formatDuration 0 this.results.summary.extra.duration}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
