{{#if (or (gt report.insights.extra.testsAdded.length 0) (gt report.insights.extra.testsRemoved.length 0))}}
**{{report.insights.extra.testsAdded.length}} new test{{#if (gt report.insights.extra.testsAdded.length 1)}}s{{/if}} added, {{report.insights.extra.testsRemoved.length}} removed**
{{#if (gt report.insights.extra.testsAdded.length 0)}}
### Added ➕

| **Name** | **Suite** |
| --- | --- |
{{#each report.insights.extra.testsAdded}}
| {{name}}{{#if filePath}} <sub><a href="{{../github.repository.htmlUrl}}/blob/{{#if ../github.context.pull_request.head.sha}}{{../github.context.pull_request.head.sha}}{{else}}{{#if ../ctrf.environment.branchName}}{{../ctrf.environment.branchName}}{{else}}{{../github.context.ref}}{{/if}}{{/if}}/{{filePath}}{{#if line}}#L{{line}}{{/if}}">view</a></sub>{{/if}} | {{#if suite}}{{join suite " > "}}{{else}}-{{/if}} |
{{/each}}
{{/if}}

{{#if (gt report.insights.extra.testsRemoved.length 0)}}
### Removed ➖

| **Name** | **Suite** |
| --- | --- |
{{#each report.insights.extra.testsRemoved}}
| {{name}}{{#if filePath}} <sub><a href="{{../github.repository.htmlUrl}}/blob/{{#if ../github.context.pull_request.head.sha}}{{../github.context.pull_request.head.sha}}{{else}}{{#if ../ctrf.environment.branchName}}{{../ctrf.environment.branchName}}{{else}}{{../github.context.ref}}{{/if}}{{/if}}/{{filePath}}{{#if line}}#L{{line}}{{/if}}">view</a></sub>{{/if}} | {{#if suite}}{{join suite " > "}}{{else}}-{{/if}} |
{{/each}}
{{/if}}

{{else}}
<p>No changes to tests detected ✨</p>
{{/if}}

